<h2>Наши работники</h2>
<ul class="workers">
    <li *ngFor="let worker of workers" [class.selected]="worker === selectedWorker" (click)="onSelect(worker)">
        <span class="badge"> {{worker.id}}</span> {{worker.surname}} {{worker.name}}
    </li>
</ul>

<!-- <div *ngIf="selectedWorker">
    <h2>Краткая информация {{selectedWorker.surname | uppercase}} {{selectedWorker.name | uppercase}}</h2>
    <div><span>id: </span> {{selectedWorker.id}} </div>
    <div>
        <label for="worker-name">Имя работника: </label>
        <input id="worker-name" [(ngModel)]="selectedWorker.name" placeholder="name">
    </div>
    <div>
        <label for="worker-surname">Фамилия работника: </label>
        <input id="worker-surname" [(ngModel)]="selectedWorker.surname" placeholder="surname">
    </div>
    <div>
        <label for="profession">Профессия работника: </label>
        <input id="profession" [(ngModel)]="selectedWorker.profession" placeholder="name">
    </div>
</div> -->

<app-worker-detail [worker]="selectedWorker"></app-worker-detail>